autostart
Code
dconf
Dharkael
dmenu-recent
enchant
evolution
gnome-session
goa-1.0
google-chrome
gtk-3.0
htop
ibus
inkscape
libreoffice
matplotlib
menus
mimeapps.list
nautilus
pavucontrol.ini
procps
pulse
Qt
QtProject
QtProject.conf
R
RStudio
skypeforlinux
Slack
spotify
user-dirs.dirs
user-dirs.locale
gtk-2.0
Trello
nixnote2
vifm/vifminfo
